body{
    font-family: 'Poppins', sans-serif;
    margin:0%;
}
h1{
    font-size: 50px;
}
p{
    color:dimgray;
}
.orange-highlight{
    color:orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding:10px 40px 10px 30px;
    border-radius: 5px;
    color:white;
    background-size: 1px;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left: 2%;
}
.half-width img{
    width:100%;
}
section{
    height:500px;
    padding-bottom:150px;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 73%;
    background-color: white;
    margin: 35px 50px 50px 67px;
    padding:10px 10px 10px 10px;
    width:23%;
}
p{
    color:black;
}
.Working-project{
    height: 500px;
    width:100%;
    background-color:whitesmoke;
    padding: 40px 6px 10px 10px;
    box-sizing: border-box;
}
#Latest{
    text-align: center;
    margin-bottom:1px;
}
.new img{
    float: left;
    width:30px;
    height: 30px;
    margin:30px;
    padding:10px;
    size: 1px;
}
.new1{
    margin-left:37%
}
footer h3{
    text-align:center;
    font-size: 10px;
    padding:10px 40px 30px 40px;
}
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  /* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color:white;
    margin-left: 20%;
    margin-top:8%;
    padding-left: 4%;
  }
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    color:white;
    margin-right: 20%;
    margin-top: 8%;
    padding-right: 4%;
  }
